{% extends 'aula_virtual/layout.html' %}
{% load static %}
{% block more_styles %}
{% endblock %}
{% block content %}

<div id="pad-wrapper" class="users-list">
    <div class="row header">
        <h3>Cursos</h3>
    </div>
    <div id="pad-wrapper" class="users-list">
     <div class="col-md-6 col-sm-12 col-xs-12 pull-right">
         {% if request.user.is_superuser %}
        <a href="{% url 'aula_virtual:requirement_new' %}" class="btn-flat success pull-right">
            <span>&#43;</span>
            Nuevo Curso
        </a>
         {% endif %}
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th><span class="line"></span>Curso</th>
            {% if request.user.is_superuser %}<th><span class="line"></span>Opciones</th>{% endif %}
        </tr>
        </thead>
        <tbody>

        {% for requirement in requirements %}
        <tr>
            <td><a href="{% url 'aula_virtual:specific_course_list' requirement.pk %}"><b>{{requirement.name}}</b></a></td>
            {% if request.user.is_superuser %}
                <td>
                    <ul class="actions">
                        <li><a href="{% url 'aula_virtual:requirement_edit' requirement.pk %}">Edit</a></li>
                        <li class="last"><a href="{% url 'aula_virtual:requirement_delete' requirement.pk %}">Delete</a></li>
                    <li class="last"><a href="{% url 'aula_virtual:specific_course_list' requirement.pk %}">List Especializate Courses</a></li>
                    </ul>
            </td>
            {% endif %}

        </tr>
        {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}

{% block more_scripts %}
<script>

</script>
{% endblock%}