{% load static %}
<section class="height-100 imagebg slider slider--animate height-70 cover cover-5" data-arrows="true" data-paging="true" data-timing="5000" data-overlay="9">
                <ul class="slides">
                    <li class="imagebg parallax" data-overlay="7">
                        <div class="background-image-holder">
                            <img alt="image" src="{% static 'main/img/socios.jpg'%}" />
                        </div>
                        <div class="container pos-vertical-center">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2 text-center">
                                    <h1>GEOARTEMIS.</h1>
                                    <p class="lead">
                                        <em>Dirigido para la industria minera e ingeniería.</em>
                                    </p>
                                    <!--<a class="btn btn--primary" href="#">
                                        <span class="btn__text">
                                            View Collection
                                        </span>
                                    </a>-->
                                </div>
                            </div>
                            <!--end row-->
                        </div>
                        <!--end container-->
                    </li>
                    <li class="imagebg parallax" data-overlay="7">
                        <div class="background-image-holder">
                            <img alt="image" src="{% static 'main/img/olimpiada-blast.jpg'%}" />
                        </div>
                        <div class="container pos-vertical-center">
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-2 text-center">
                                    <h1>CURSO 100% online.</h1>
                                    <p class="lead">
                                        <em>Curso dirigido para la industria minera e ingenierìa</em>
                                    </p>
                                    <!--<a class="btn btn--primary" href="#">
                                        <span class="btn__text">
                                            View Collection
                                        </span>
                                    </a>-->
                                </div>
                            </div>
                            <!--end row-->
                        </div>
                        <!--end container-->
                    </li>
                    <li class="imagebg parallax" data-overlay="7">
                        <div class="background-image-holder">
                            <img alt="image" src="{% static 'main/img/Proyecta-Siemens-crecer-en-energ--a-transporte-miner--a-y-construccion.jpg'%}" />
                        </div>
                        <div class="container pos-vertical-center">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2 text-center">
                                    <h1>CAPACITACIÓN.</h1>
                                    <p class="lead">
                                        <em>Capacítate desde cualquier lugar, en cualquier momento comience a aprender.</em>
                                    </p>
                                    <!--<a class="btn btn--primary" href="#">
                                        <span class="btn__text">
                                            View Collection
                                        </span>
                                    </a>-->
                                </div>
                            </div>
                            <!--end row-->
                        </div>
                        <!--end container-->
                    </li>

                    <li class="imagebg parallax" data-overlay="7">
                        <div class="background-image-holder">
                            <img alt="image" src="{% static 'main/img/ministrocodelco.jpg'%}" />
                        </div>
                        <div class="container pos-vertical-center">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2 text-center">
                                    <h1>SERVICIOS.</h1>
                                    <p class="lead">
                                        <em>Superando las expectativas a nuestros clientes a traves de la correcta

aplicación.</em>
                                    </p>
                                    <!--<a class="btn btn--primary" href="#">
                                        <span class="btn__text">
                                            View Collection
                                        </span>
                                    </a>-->
                                </div>
                            </div>
                            <!--end row-->
                        </div>
                        <!--end container-->
                    </li>
                    <li class="imagebg parallax" data-overlay="7">
                        <div class="background-image-holder">
                            <img alt="image" src="{% static 'main/img/disponibilidad_photo.jpg'%}" />
                        </div>
                        <div class="container pos-vertical-center">
                            <div class="row">
                                <div class="col-sm-9 col-sm-offset-2 text-center">
                                    <h1>Disponible.</h1>
                                    <p class="lead">
                                        <em>Permite tener nuestra Continuidad</em>
                                    </p>
                                    <!--<a class="btn btn--primary" href="#">
                                        <span class="btn__text">
                                            View Collection
                                        </span>
                                    </a>-->
                                </div>
                            </div>
                            <!--end row-->
                        </div>
                        <!--end container-->
                    </li>
                    <li class="imagebg parallax" data-overlay="7">
                        <div class="background-image-holder">
                            <img alt="image" src="{% static 'main/img/internet-1.jpg' %}" />
                        </div>
                        <div class="container pos-vertical-center">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2 text-center">
                                    <h1>AULA VIRTUAL.</h1>
                                    <p class="lead">
                                        <em>Disponible las 24 horas /  365 días.</em>
                                    </p>
                                    <!--<a class="btn btn--primary" href="#">
                                        <span class="btn__text">
                                            View Collection
                                        </span>
                                    </a>-->
                                </div>
                            </div>
                            <!--end row-->
                        </div>
                        <!--end container-->
                    </li>
                </ul>

            </section>