{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html  style=" background-image: url({% static "main/img/bgs/9.jpg" %});">
<head>

    <title>Geoartemis</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- bootstrap -->

    <link href="{% static 'aula_virtual/css/bootstrap/bootstrap-overrides.css' %}" type="text/css" rel="stylesheet" />

    <!-- libraries -->
    <link href="{% static 'aula_virtual/css/lib/jquery-ui-1.10.2.custom.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'aula_virtual/css/lib/font-awesome.css' %}" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'aula_virtual/css/compiled/layout.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'aula_virtual/css/compiled/elements.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'aula_virtual/css/compiled/icons.css' %}" />

    <!-- this page specific styles -->
    <link rel="stylesheet" href="{% static 'aula_virtual/css/compiled/index.css' %}" type="text/css" media="screen" />

    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

    <!-- lato font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <!-- libraries -->
    <link href="{% static 'aula_virtual/css/lib/jquery-ui-1.10.2.custom.css'%}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'aula_virtual/css/lib/font-awesome.css'%}" type="text/css" rel="stylesheet"/>

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'aula_virtual/css/compiled/layout.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'aula_virtual/css/compiled/elements.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'aula_virtual/css/compiled/icons.css'%}"/>

    <!-- this page specific styles -->
    <link rel="stylesheet" href="{% static 'aula_virtual/css/compiled/index.css'%}" type="text/css" media="screen"/>

    <link rel="stylesheet" href="{% static 'aula_virtual/css/compiled/signup.css' %}" type="text/css" media="screen" />
    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'/>

    <!-- lato font -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic'
          rel='stylesheet' type='text/css'/>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


</head>
<body>

         <h3 style="font-style: italic; font-size: 30px; margin-bottom: 20px;">GEOARTEMIS</h3>


    <div class="login-wrapper">
        <div class="box" style="width: 500px !important;">
            <div class="content-wrap">
                {% include 'accounts/form.html' %}
            </div>
        </div>

        <div class="already">
            <p>Already have an account?</p>
            <a href="{% url 'accounts:login' %}">Sign in</a>
        </div>
    </div>

	<!-- scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'aula_virtual/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'aula_virtual/js/theme.js' %}"></script>
</body>
</html>