{% extends 'main/layout.html' %}
{% load static %}
{% block content %}
    <h3 style="text-align: center; margin-top: 20px;">INSTRUCCIONES PARA CREAR UNA NUEVA CUENTA DE USUARIO Y ACCEDER AL AULA VIRUAL</h3>
    <h4 style="margin-left: 10%;">CREAR UNA CUENTA DE USUARIO:</h4>
<ol style="margin-left: 10%;">
<li>Dirígete al menú "Aula Virtual" opción SIGN UP "enter.</li>
<li>Completa los datos de la ficha de registro, según se te indica (contraseña 8 dígitos mínimo).</li>
<li>Presionar " save. "</li>
<li>Ahora si en  "LOGIN". Ingrese su usuario y password (lo que lleno en el registro).</li>
<li>Ingresa  cursos  click ahí encontrara las cuentas en soles y dólares escoja el curso click adquiere su paquete click package respectivo precios. </li>
<li>Subir voucher seleccione su archivo para eso ha tenido que sacar una foto o escanear el vaucher  del depósito.</li>
<li>Para activar su curso.</li>
<li>Anota tu nombre de USUARIO y CONTRASEÑA para que puedas acceder al aula.</li>
<li>Ya puedes acceder a tu cuenta en el AULA VIRTUAL usando tu USUARIO y CONTRASEÑA.</li>

</ol>
<video width="100%" height="500px" controls autoplay controlsList="nodownload">
  <source src="{% static 'main/videos/registrarse.mp4' %}" type="video/mp4">
  Your browser does not support the video tag.
</video>
{% endblock %}