{% extends 'main/layout.html' %}
{% load static %}
{% block content %}

   <section class="space-bottom--sm">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text-center">
                            <h3>Misión </h3>
                            <p style="font-size: 20px;">
                                GEOARTEMIS S.A.C,ofrecen oportunidades de desarrollo profesional con estándares de clase mundial, buscando el cumplimiento y perfeccionamiento de la empresa, con la sociedad, medio ambiente. Para asumir retos y desafío. El establecimiento de una nueva ética social con los proyectos.
                            </p>
                        </div>
                        <div class="col-sm-8 col-sm-offset-2 text-center">
                            <h3>Visión </h3>
                            <p style="font-size: 20px;">
                                Ser reconocida como la empresa líder en servicios minero de

clase mundial, asesoría, consultoría, capacitación minera, innovación y gran capacidad de adaptación con el mejor equipo humano y tecnología de vanguardia. Superando las expectativas a nuestros clientes la satisfacción de sus necesidades atreves de la correcta aplicación de la información procesada y de sus herramientas tecnológicas competitividad y rentabilidad.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

{% endblock %}